@charset "utf-8";


/*
CI 155 Web Development - Project- V1 Style Sheet
Developer: Javaris Taylor
Date: 5/1/20
Filename: style.css
*/
body {
    background-color:yellow;
}
/*M2LO12 Demonstrate how CSS can change presentation of page elements*/
img {
    max-width: 100px;
    max-height: 95px;
}
/*M2LO7 Demonstrate a CSS attribute selector other than class or id*/

header, nav {
    color:red; font-size:12px;;
    align-items: center;
}
/*M2LO15 Apply colors using CSS*/
/*M2LO3 Demonstrate style precedence and inheritance in CSS */

.story {
    font-size: 20px;
    font-family: sans-serif;
}
/*M2LO13 Demonstrate how CSS can change presentation of textual elements */
/*M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)*/